html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
}

.flexContainer {
	display: flex;
	flex-direction: column;
}

body {
	background-color: rgba(207, 207, 207, 1);
}

.whiteBox {
	margin: 0 auto;
	width: 80%;
	height: 20%;
	background-color: #fff;
	color: black;
	font-family: 'open sans';
	font-size: 15px;
	padding: 30px;
	text-align: center;
}


.top {
	font-family: 'open sans';
	font-size: 22px;
	color: #fff;
	width: 110px;
	height: 45px;
	text-align: center;
	border: 1px solid gray;
	line-height: 10px;
}



.red {
	background-color: red;
	position: absolute;
	top: 160px;
	left: 100px;
}

.blue {
	background-color: rgba(60, 123, 218, 1);
	position: absolute;
	top: 160px;
	left: 225px;

}

.box2 {
    margin: 30px auto;
    padding: 30px;
    height: 50%;
	width: 80%;
	background-color: #fff;
	text-align: center;
	color: black;
	font-family: 'open sans';
}
img {
	width: 400px;
	height: auto;

}

footer {
	height: 50px;
	width: 100%;
    background-color: rgba(57, 57, 57, 1);
    position: absolute;
	bottom: -0px;
}

footer p { 
	float: right;
	color: white;
	font-family: 'open sans';
	text-align: right;
	padding: 5px;

}














